:host {
  display: block;
}

[page] {
  position: relative;
  height: 100%;
}

[row-headers],
[col-headers] {
  display: block;
  overflow: hidden;
  position: absolute;
}
[col-headers] {
  right: 0;
}
[row-headers] {
  bottom: 0;
}

[row-headers] > *,
[col-headers] > * {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid #eeeeee;
  background-color: #cccccc;
  box-sizing: border-box;
}

[grid] {
  position: absolute;
  overflow: scroll;
  background-color: #ffffff;
}
[grid] [col],
[grid] [row] {
  position: absolute;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
