<div style="height: 11.5em;">
  <ribbon (command)="doCommand($event)">
    <ribbon-quick-access-tool-bar>
      <ribbon-button [command]="Commands.Save" [payload]="{ payload: 'save' }">
        <span
          class="iconify"
          data-icon="bx:bxs-save"
          data-inline="false"
        ></span>
      </ribbon-button>
    </ribbon-quick-access-tool-bar>

    <ribbon-tab label="Главная">
      <ribbon-group label="Буффер обмена">
        <ribbon-panel layout="vertical">
          <ribbon-button large [command]="Commands.EditPaste">
            <span
              class="iconify"
              data-icon="mdi:content-paste"
              data-inline="false"
            ></span>
          </ribbon-button>
        </ribbon-panel>
        <ribbon-panel layout="vertical">
          <ribbon-button small [command]="Commands.EditCopy">
            <span
              class="iconify"
              data-icon="mdi:content-copy"
              data-inline="false"
            ></span>
          </ribbon-button>
          <ribbon-button small [command]="Commands.EditCut">
            <span
              class="iconify"
              data-icon="mdi:content-cut"
              data-inline="false"
            ></span>
          </ribbon-button>
        </ribbon-panel>
      </ribbon-group>
      <ribbon-group label="Форматирование">
        <ribbon-panel layout="vertical">
          <ribbon-panel layout="horisontal">
            <ribbon-control-group>
              <ribbon-select [command]="Commands.EditFonts" style="width: 9em;">
                <ribbon-option *ngFor="let font of fonts" [payload]="font">
                  <div [style.fontFamily]="font.ff">{{ font.name }}</div>
                </ribbon-option>
              </ribbon-select>
              <ribbon-select
                [command]="Commands.EditFontSize"
                style="width: 4em;"
              >
                <ribbon-option
                  *ngFor="let size of fontSizes"
                  [payload]="size"
                  >{{ size }}</ribbon-option
                >
              </ribbon-select>
              <ribbon-button small [command]="Commands.EditFontUp">
                <span
                  class="iconify"
                  data-icon="mdi:format-font-size-increase"
                  data-inline="false"
                ></span>
              </ribbon-button>
              <ribbon-button small [command]="Commands.EditFontDown">
                <span
                  class="iconify"
                  data-icon="mdi:format-font-size-decrease"
                  data-inline="false"
                ></span>
              </ribbon-button>
            </ribbon-control-group>
          </ribbon-panel>
          <ribbon-panel layout="horisontal">
            <ribbon-button-toggle [command]="Commands.EditBold" small
              ><span
                class="iconify"
                data-icon="mdi:format-bold"
                data-inline="false"
              ></span
            ></ribbon-button-toggle>
            <ribbon-button-toggle [command]="Commands.EditItalic" small
              ><span
                class="iconify"
                data-icon="mdi:format-italic"
                data-inline="false"
              ></span
            ></ribbon-button-toggle>
            <ribbon-button-toggle [command]="Commands.EditUnderline" small
              ><span
                class="iconify"
                data-icon="mdi:format-underline"
                data-inline="false"
              ></span
            ></ribbon-button-toggle>
            <ribbon-button-toggle
              small
              #borderBtn="button"
              [command]="Commands.EditBorder"
            >
              <span
                class="iconify"
                data-icon="mdi:border-all"
                data-inline="false"
              ></span>
              <ribbon-submenu *ngIf="borderBtn.state">
                <div style="display: flex;">
                  <ribbon-button-toggle small [command]="Commands.EditBorderAll"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-all"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderOutside"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-outside"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderInside"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-inside"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                </div>
                <div style="display: flex;">
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderHorizontal"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-horizontal"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderVertical"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-vertical"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderBottom"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-bottom"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                </div>
                <div style="display: flex;">
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderLeft"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-left"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderRight"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-right"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                  <ribbon-button-toggle small [command]="Commands.EditBorderTop"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-top"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                </div>
                <div>
                  <ribbon-button-toggle
                    small
                    [command]="Commands.EditBorderNone"
                    ><span
                      class="iconify"
                      data-icon="mdi:border-none"
                      data-inline="false"
                    ></span
                  ></ribbon-button-toggle>
                </div>
              </ribbon-submenu>
            </ribbon-button-toggle>

            <ribbon-button-toggle
              small
              #bgcolorBtn="button"
              [command]="'EditBgColor'"
            >
              <span
                class="iconify"
                data-icon="mdi:format-color-fill"
                data-inline="false"
              ></span>
              <ribbon-submenu *ngIf="bgcolorBtn.state">
                123
              </ribbon-submenu>
            </ribbon-button-toggle>

            <ribbon-button-toggle
              small
              #textcolorBtn="button"
              [command]="'EditTextColor'"
            >
              <span
                class="iconify"
                data-icon="mdi:format-color-text"
                data-inline="false"
              ></span>
              <ribbon-submenu *ngIf="textcolorBtn.state">
                123
              </ribbon-submenu>
            </ribbon-button-toggle>
          </ribbon-panel>
        </ribbon-panel>
      </ribbon-group>
      <ribbon-group label="Выравнивание">
        <ribbon-panel layout="vertical">
          <ribbon-panel layout="horisontal">
            <ribbon-btn-group small [command]="Commands.EditValign">
              <ribbon-btn-group-item [payload]="Commands.EditValignTop">
                <span
                  class="iconify"
                  data-icon="mdi:format-align-top"
                  data-inline="false"
                ></span>
              </ribbon-btn-group-item>
              <ribbon-btn-group-item [payload]="Commands.EditValignCenter">
                <span
                  class="iconify"
                  data-icon="mdi:format-align-middle"
                  data-inline="false"
                ></span>
              </ribbon-btn-group-item>
              <ribbon-btn-group-item [payload]="Commands.EditValignBottom">
                <span
                  class="iconify"
                  data-icon="mdi:format-align-bottom"
                  data-inline="false"
                ></span>
              </ribbon-btn-group-item>
            </ribbon-btn-group>
            <ribbon-button small [command]="Commands.EditIndentDesc">
              <span
                class="iconify"
                data-icon="mdi:format-indent-decrease"
                data-inline="false"
              ></span>
            </ribbon-button>
            <ribbon-button small [command]="Commands.EditIndentInc">
              <span
                class="iconify"
                data-icon="mdi:format-indent-increase"
                data-inline="false"
              ></span>
            </ribbon-button>
          </ribbon-panel>

          <ribbon-panel layout="horisontal">
            <ribbon-btn-group small [command]="Commands.EditAlign">
              <ribbon-btn-group-item [payload]="Commands.EditAlignLeft">
                <span
                  class="iconify"
                  data-icon="mdi:format-align-left"
                  data-inline="false"
                ></span>
              </ribbon-btn-group-item>
              <ribbon-btn-group-item [payload]="Commands.EditAlignCenter">
                <span
                  class="iconify"
                  data-icon="mdi:format-align-center"
                  data-inline="false"
                ></span>
              </ribbon-btn-group-item>
              <ribbon-btn-group-item [payload]="Commands.EditAlignRigth">
                <span
                  class="iconify"
                  data-icon="mdi:format-align-right"
                  data-inline="false"
                ></span>
              </ribbon-btn-group-item>
              <ribbon-btn-group-item [payload]="Commands.EditAlignJustify">
                <span
                  class="iconify"
                  data-icon="mdi:format-align-justify"
                  data-inline="false"
                ></span>
              </ribbon-btn-group-item>
            </ribbon-btn-group>
            <ribbon-button small [command]="Commands.EditTextNoWrap">
              <span
                class="iconify"
                data-icon="mdi:format-text-wrapping-wrap"
                data-inline="false"
              ></span>
            </ribbon-button>
          </ribbon-panel>
        </ribbon-panel>
      </ribbon-group>
    </ribbon-tab>
    <ribbon-tab label="Вставка">
      <ribbon-group>
        <ribbon-panel> </ribbon-panel>
      </ribbon-group>
    </ribbon-tab>
    <ribbon-tab label="Дизайн">
      <ribbon-group>
        <ribbon-panel> </ribbon-panel>
      </ribbon-group>
    </ribbon-tab>
  </ribbon>
</div>
<sheet-page
  style="height: calc(100% - 11.5em);"
></sheet-page>
