:host{
  box-sizing: border-box;
  margin-top: -1px;
  margin-left: -1px;
  position: absolute;
  background-color: rgba(32, 78, 138, 0.2);
  border: 3px solid rgba(32, 78, 138, 0.5);
  opacity: 0.5;
}
